# Movie Recommendation System 2

In [211]:
import numpy as np 
import pandas as pd

In [212]:
df2 = pd.read_csv('datasets\movies.csv', index_col=0)

In [213]:
df2.head()

,movie,year,run_time,genre,director,about,rating
0,The Shawshank Redemption,1994,142 min,Drama,Frank Darabont,Two imprisoned men bond over a number of years...,9.3
1,The Godfather,1972,175 min,Crime Drama,Francis Ford Coppola,An organized crime dynasty's aging patriarch t...,9.2
2,Soorarai Pottru,2020,153 min,Drama,Sudha Kongara,"Nedumaaran Rajangam ""Maara"" sets out to make t...",9.1
3,The Dark Knight,2008,152 min,Action Crime Drama,Christopher Nolan,When the menace known as the Joker wreaks havo...,9.0
4,The Godfather: Part II,1974,202 min,Crime Drama,Francis Ford Coppola,The early life and career of Vito Corleone in ...,9.0

In [192]:
df2['keywords'] = df2['about'].str.cat(df2['genre'],sep=" ")

In [193]:
df2['bag_of_words'] = df2['keywords'].str.cat(df2['director'],sep=" ")

In [194]:
df2.drop(["genre"], axis=1, inplace=True)
df2.drop(["director"], axis=1, inplace=True)
df2.drop(["about"], axis=1, inplace=True)
df2.drop(['keywords'], axis=1, inplace=True)

In [195]:
df2.head()

,movie,year,run_time,rating,bag_of_words
0,The Shawshank Redemption,1994,142 min,9.3,Two imprisoned men bond over a number of years...
1,The Godfather,1972,175 min,9.2,An organized crime dynasty's aging patriarch t...
2,Soorarai Pottru,2020,153 min,9.1,"Nedumaaran Rajangam ""Maara"" sets out to make t..."
3,The Dark Knight,2008,152 min,9.0,When the menace known as the Joker wreaks havo...
4,The Godfather: Part II,1974,202 min,9.0,The early life and career of Vito Corleone in ...

# TFIDF Vectorizer and Cosine Similarity

In [196]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 3),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df2['bag_of_words'])

In [197]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [198]:
titles = df2['movie']
indices = pd.Series(df2.index, index=df2['movie'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
def recommendation(title):
    idx = indices[title]
    cosine_sim_score = list(enumerate(cosine_sim[idx]))
    cosine_sim_score = sorted(cosine_sim_score, key=lambda x: x[1], reverse=True)
    cosine_sim_score = cosine_sim_score[1:6]
    movie_indices = [i[0] for i in cosine_sim_score]
    return titles.iloc[movie_indices]

In [199]:
recommendation('The Shawshank Redemption')

25                   The Green Mile
361                           Dev.D
324    Mr. Smith Goes to Washington
72                           Oldboy
258            In the Mood for Love
Name: movie, dtype: object

In [200]:
recommendation('The Dark Knight')

158            Batman Begins
67     The Dark Knight Rises
245        Kill Bill: Vol. 1
73                   Memento
21              Interstellar
Name: movie, dtype: object