In [12]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm

In [13]:
url = "https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc"

In [14]:
def all_page_link(start_url):
    all_urls = []
    url = start_url
    while(url != None):            #Loop around all the required webpages and terminates when last page arive!
        all_urls.append(url)
        soup = BeautifulSoup(requests.get(url).text,"html.parser")
        next_links = soup.find_all(class_='lister-page-next next-page')    #Extracts the next page link.
        if (len(next_links) == 0):         # If their is no next page, it returns 0.
            url = None
        else:
            next_page = "https://www.imdb.com" + next_links[0].get('href')
            url = next_page
    return all_urls

In [15]:
main_array = []
for url in tqdm(all_page_link("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc")):     #Runs the function for all the pages.
    soup = BeautifulSoup(requests.get(url).text,"html.parser")         #Extracts out the main html code.
    for link in soup.find_all(class_='lister-item-content'):
        name = link.find('a').text
        year = years = link.h3.find('span', class_='lister-item-year').text
        run_time = link.find('span',{"class":"runtime"}).text
        genre = link.find('span',{"class":"genre"}).text[1:]
        director=link.find('p',class_='').find_all('a')[0].text
        about = link.find_all('p')[1].text[5:]
        rating = imdb = float(link.strong.text)
        list_of_all = [name,year,run_time,genre,director,about,rating]
        main_array.append(list_of_all)

100%|██████████| 20/20 [00:42<00:00,  2.12s/it]

In [16]:
index = ["movie","year","run_time","genre","director","about","rating"]

In [17]:
df = pd.DataFrame(main_array,columns=index)

In [18]:
df.head(5)

,movie,year,run_time,genre,director,about,rating
0,The Shawshank Redemption,(1994),142 min,Drama,Frank Darabont,Two imprisoned men bond over a number of years...,9.3
1,The Godfather,(1972),175 min,"Crime, Drama",Francis Ford Coppola,An organized crime dynasty's aging patriarch t...,9.2
2,Soorarai Pottru,(2020),153 min,Drama,Sudha Kongara,"Nedumaaran Rajangam ""Maara"" sets out to make t...",9.1
3,The Dark Knight,(2008),152 min,"Action, Crime, Drama",Christopher Nolan,When the menace known as the Joker wreaks havo...,9.0
4,The Godfather: Part II,(1974),202 min,"Crime, Drama",Francis Ford Coppola,The early life and career of Vito Corleone in ...,9.0

In [19]:
df.tail()

,movie,year,run_time,genre,director,about,rating
995,Breakfast at Tiffany's,(1961),115 min,"Comedy, Drama, Romance",Blake Edwards,A young New York socialite becomes interested ...,7.6
996,Giant,(1956),201 min,"Drama, Western",George Stevens,Sprawling epic covering the life of a Texas ca...,7.6
997,Shane,(1953),118 min,"Drama, Western",George Stevens,A weary gunfighter attempts to settle down wit...,7.6
998,From Here to Eternity,(1953),118 min,"Drama, Romance, War",Fred Zinnemann,"In Hawaii in 1941, a private is cruelly punish...",7.6
999,Lifeboat,(1944),97 min,"Drama, War",Alfred Hitchcock,Several survivors of a torpedoed merchant ship...,7.6

In [20]:
df['genre'] = df['genre'].str.replace(',',' ')
df['year'] = df['year'].str.extract('(\d+)').astype(int)

In [21]:
df.head()

,movie,year,run_time,genre,director,about,rating
0,The Shawshank Redemption,1994,142 min,Drama,Frank Darabont,Two imprisoned men bond over a number of years...,9.3
1,The Godfather,1972,175 min,Crime Drama,Francis Ford Coppola,An organized crime dynasty's aging patriarch t...,9.2
2,Soorarai Pottru,2020,153 min,Drama,Sudha Kongara,"Nedumaaran Rajangam ""Maara"" sets out to make t...",9.1
3,The Dark Knight,2008,152 min,Action Crime Drama,Christopher Nolan,When the menace known as the Joker wreaks havo...,9.0
4,The Godfather: Part II,1974,202 min,Crime Drama,Francis Ford Coppola,The early life and career of Vito Corleone in ...,9.0

In [22]:
df.to_csv('datasets\movies.csv')